
<div class="jumbotron">
  <h1><i class="fa fa-diamond"></i>
	Ingrid, do this!</h1>
  <p>Isn't the world of modern technology just a wonderful thing?</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Sign up!</a></p>
</div>